:root {
  --main-color: #36575B;
  --background-color: #36575B;
}

body {
  width: 99vw;
  height: 97vh;
  margin: 0;
  font-family: Roboto;
  /* background-color: #fefffa; */
  background-color: var(--background-color);
  color: #645F5E
}

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

.options {
  color: #645F5E;
}

.select-title {
  color: white;
  margin: 5px;
}